$background : #F5FAFC;

$pokeball--size : 150px;
$pokeball--up : #DF4F41;
$pokeball--down : #FEFEFE;
$pokeball--center : #FEFEFE;
$pokeball--black : #372157;

$red-color : #F13A60;
$blue-color : #36B9FC;
$purple-color : #8591F3;
$yellow-color : #FFE27D;


/* Gradient colors set */
$gragreenDown : #91E4A3;
$gragreenUp : #DBFE74;
$grablueDown : #64A1FF;
$grablueUp : #8BFCFE;
